<html>
	<head>
		<meta charset="UTF-8">
		<title>Ajout d'activités</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
		<style>
			h1{ 
				color: #40007d;
			}
			nav
		</style>
	</head>
	<body>
		<div class="nav navbar navbar-default" style="font-weight: bold;">
			<ul class="nav navbar-nav">
				<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
				<li><a href="{$url_base}Rapport/index">Accueil</a></li>
				<li><a href="{$url_base}Rapport/add">Soumettre Un Rapport</a></li>
				<li><a href="{$url_base}Rapport/liste">Consultation des CRD</a></li>
				<li><a href="{$url_base}Rapport/liste">Consultation Rapports Mensuels</a></li>
			</ul>
		</div>

		<div class="col-md-6 col-sm-8 col-xs-12 col-lg-8 col-md-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading" style="font-weight: bold;text-align: center;">Ajout d'Activités au Rapport du mois</div>
				<div class="panel-body">	

				{if isset($ok)}
						{if $ok != 0}
							<div class="alert alert-success">Activité enregistré avec sucess! Vous pouvez continuer ou sortir!</div>
						{else}
							<div class="alert alert-danger">Erreur!</div>
						{/if}
					{/if}

					<form method="post" action="{$url_base}Activite/add">
						<div class="form-group">							
						  <label class="control-label">Activité</label>
						  <textarea class="form-control" rows="3" name="a_titre" id="a_titre" placeholder="Votre activité..." autocomplete="off"></textarea>	
						</div>
						<div class="form-group">							
						  <label class="control-label">Résultats</label>
						  <textarea class="form-control" rows="3" name="a_resultat" id="a_resultat" placeholder="Les résultats..." autocomplete="off"></textarea>	 
						</div>
						<div class="form-group">							
						  <label class="control-label">Contraintes</label>
						  <textarea class="form-control" rows="3" name="a_contrainte" id="a_contrainte" placeholder="Vos contraintes..." autocomplete="off"></textarea>	 
						</div>
						<div class="form-group">							
						  <label class="control-label">Observations</label>
						  <textarea class="form-control" rows="3" name="a_observation" id="a_observation" placeholder="Observations..." autocomplete="off"></textarea>
						</div>
						<div class="form-group col-md-6 col-md-offset-4">
							<input class="btn btn-success" type="submit" name="valider" value="Enregistrer et Continuer" />
							<input class="btn btn-danger" type="reset" name="terminer" value="Terminer"/>
						</div>
						 
					</form>
				</div>
			</div>
		</div>
		
	</body>
</html>
		
