<html>
	<head>
		<meta charset="UTF-8">
		<title>Accueil Activités</title>
		<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="{$url_base}public/css/samane.css"/>
		<style>
			h1{ 
				color: #40007d;
			}
		</style>
	</head>
	<body>
		<div class="nav navbar navbar-default">
			<ul class="nav navbar-nav">
				<!-- l'appel de {$url_base} vous permet de recupérer le chemin de votre site web  -->
				<li><a href="{$url_base}Activite/index">Accueil</a></li>
				<li><a href="{$url_base}Activite/add">Enregistrer Une Adtivité</a></li>
				<li><a href="{$url_base}Rapport/liste">Consultation des CRD</a></li>
				<li><a href="{$url_base}Activite/check">Consultation Rapports Mensuels</a></li>
			</ul>
		</div>
		
	</body>
</html>
		
